html, body, div, header, section, textarea {
  margin: 0;
  padding: 0;
  /*
    将font-size设为0，
    消除元素间因空格而引起的间隙
    */
  font-size: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.outer-header {
  height: 5%;
  width: 100%;
  background-color: #434443;
  display: flex;
  align-items: center;
}

.outer-header img {
  margin: 5px 10px;
}

/*
  将两个元素中部对齐
  酱紫可以解决当预览框增加内容时会整体布局下移的问题
  */
#page {
  height: 95%;
  width: 100%;
  display: flex;
  align-items: center;
}

#lineNumberContainer {
  height: 100%;
  width: 30px;
}

#lineNumber {
  background-color: #262821;
}

/*必须设置子元素字体大小不为零*/
#lineNumber div {
  font-size: 14px;
  text-align: right;
  margin: 1px 10px 1px 0;
  color: #909089;
}

#editorContainer, #previewContainer {
  height: 100%;
  /*让这两个元素平分剩下的空间*/
  flex-grow: 1;
  flex-basis: 0;
}

.inner-header {
  height: 5%;
}

.editor, .preview, #scrollBar, #lineNumber {
  height: calc(95% - 1px);
  width: 100%;
  font-size: 14px;
  border: none;
  border-top: 1px solid #000000;
}

.editor {
  display: block;
  outline: none;
}

/*当该行不足以存放整个句子时进行换行*/
.preview {
  word-wrap: break-word;
}

#scrollBarContainer {
  height: 100%;
  width: 5px;
}

#scrollBar {
  background-color: #E9EDEB;
}
